<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Special Projects</title>

    {% include "../project/metadata.html" %}

    <!-- Shortcut and related icons -->
    <link rel="apple-touch-icon" href="http://media.philly.com/designimages/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://media.philly.com/designimages/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://media.philly.com/designimages/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://media.philly.com/designimages/touch-icon-ipad-retina.png">
    <link rel="icon" type="image/png" href="http://media.philly.com/designimages/favicon-32x32.png">

    <script src="./js/jquery.js"></script>
    {#
    <script src="./js/global-hc.js"></script> #}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/project.css">

    <style>
        /* p { font-size: 16px; } */
        .longform-wrapper > div p { font-size: 18px; }
    </style>

    <!-- Fonts -->
    <!-- <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7722894/765348/css/fonts.css"/> -->

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,700,700i|Roboto:300,400,700,900" rel="stylesheet">


    {% include "../project/project-js.html" ignore missing %}



</head>

<body>
    <div class="" role="document">
        <header class="header clear-header" role="banner" id="header">
            <progress class="progress" value="0"></progress>
            <div class="page-logo">
                <div class="brandlockup-logo">
                    <a href="http://www.philly.com" class="rel z-100" data-link-type="header-nav-global">
                            <img class="va--middle" src="http://media.philly.com/binary/philly-logo-2018.svg">
                        </a>
                </div>
            </div>
        </header>

        <div class="article__content_lf new-content" itemprop="articleBody">
